{%- spaceless -%}

{% set author = create_profile(post.getCreatedBy) %}

<article class="row-fluid forum-post-item">
    <header class="row-fluid" id="post_{{- post.getId -}}">
        {%- include 'CCDNForumForumBundle:Post:item_post_head.html.twig' with {'post': post, 'author': author} -%}
	</header>

    <section class="row-fluid">
        {%- include 'CCDNForumForumBundle:Post:item_post_body.html.twig' with {'post': post} -%}
	</section>

    {% if author.getSignature %}
	    <footer class="row-fluid">
            {{- BBCode(author.getSignature|raw, ccdn_forum_forum.item_signature.enable_bb_parser) | raw -}}
		</footer>
    {% endif %}
</article>

{%- endspaceless -%}
