{%- spaceless -%}
	<footer class="footer">
		<div class="container">
			<p>
				Powered by <a rel="friend" target="_blank" href="http://www.github.com/codeconsortium/CCDNForum">CCDNForum</a>. 
				Copyright <a target="_blank" href="http://www.codeconsortium.com/">CodeConsortium</a> 2012.<br>			
			</p>
			<p>
				Graphics courtesy of <a rel="friend" target="_blank" href="http://pc.de">pc.de</a> and 
				<a rel="friend" target="_blank" href="http://glyphicons.com/glyphicons-licenses/">Glyphicons</a>. 
				Smileys courtesy of <a rel="friend" target="_blank" href="http://www.freesmileys.org/copyright.php">freesmileys.org</a>
			</p>
			
			<ul class="footer-links">
				<li>
					<a rel="friend" target="_blank" href="http://github.com/codeconsortium">Contribute</a>
				</li>
				<li class="muted">·</li>
				<li>
					<a rel="friend" target="_blank" href="http://codeconsortium.com">CodeConsortium</a>
				</li>
			</ul>
		</div>
	</footer>		
{%- endspaceless -%}
