{%- spaceless -%}
	<footer class="footer site-footer">
		<div class="container">
			<nav>
				<ul class="footer-links">
					<li>
						<a rel="friend" target="_blank" href="http://github.com/codeconsortium">Contribute</a>
					</li>
					<li class="muted">·</li>
					<li>
						<a rel="friend" target="_blank" href="http://codeconsortium.com">CodeConsortium</a>
					</li>
				</ul>
			</nav>
		</div>
	</footer>		
{%- endspaceless -%}
