{%- spaceless -%}
	<div id="footer" style="text-align:left !important;">

{#		<span class="footnote">
		Powered by <a rel="friend" target="_blank" href="http://www.github.com/codeconsortium/CCDNForum">CCDNForum</a>. Copyright <a target="_blank" href="http://www.codeconsortium.com/">CodeConsortium</a> 2012.<br>
		Graphics courtesy of <a rel="friend" target="_blank" href="http://pc.de">pc.de</a> and <a rel="friend" target="_blank" href="http://glyphicons.com/glyphicons-licenses/">Glyphicons</a>. Smileys courtesy of <a rel="friend" target="_blank" href="http://www.freesmileys.org/copyright.php">freesmileys.org</a>
		<br>
		<a rel="friend" target="_blank" href="http://github.com/codeconsortium">Contribute if you enjoy using the site and wish to improve it.</a>
		</span>#}
	</div>		
{%- endspaceless -%}
