<!DOCTYPE html>
<html lang="{{- app.request.locale -}}">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>{%- block title -%}{%- endblock -%}</title>
				
		{%- block stylesheets -%}
			{%- stylesheets '@bootstrap_less' '@bootstrap_todc_less' '/todc/todc-bootstrap/img/*' '@common_less' '@crumbs_less' '@bbcode_less' '@highlight_less' combine=true -%}
				<link href="{{- asset_url -}}" type="text/css" rel="stylesheet">
			{%- endstylesheets -%}
		{%- endblock -%}

    </head>
    <body>

		{%- spaceless -%}
			
		<div id="page-wrap">
			<div id="page-main">
				
				{%- block navbar -%}
					<header class="navbar-fixed-top">
						{%- block navbar_site_links -%}
							{%- include 'CCDNComponentCommonBundle:Layout:header/site_links.html.twig' -%}
						{%- endblock navbar_site_links -%}
						
						{%- block navbar_site_primary -%}
							{%- include 'CCDNComponentCommonBundle:Layout:header/primary.html.twig' -%}
						{%- endblock navbar_site_primary -%}
					</header>

					{%- block tool_bar -%}
					{%- endblock tool_bar -%}
				{%- endblock navbar -%}
				
				<div class="container-fluid clear-top">
					<div class="row-fluid">
				        <aside class="span2 page-sidebar-left">
							<ul class="nav nav-pills nav-stacked">
								{%- include 'CCDNComponentCommonBundle:Layout:sidebar.html.twig' -%}

								{%- block sidebar -%}
					            {%- endblock sidebar -%}
							</ul>
						</aside>

				        <div class="span10 page-body-right">
							<div>
								<div id="top"></div>
					            {%- block body -%}
								{%- endblock body -%}
							</div>
				        </div>
			        </div>
				</div>
			</div>
		</div>

		{%- include 'CCDNComponentCommonBundle:Layout:footer.html.twig' -%}
		
		{%- block javascripts -%}
			{% javascripts '@jquery_js' '@bootstrap_js' '@moment_js' '@timestamper_js' '@checkboxes_js' '@bb_code_editor_js' filter='?yui_js' combine=false %}
				<script src="{{- asset_url -}}"></script>
			{%- endjavascripts -%}
		{%- endblock -%}

		{%- include 'CCDNComponentCommonBundle:Layout:common_js.html.twig' -%}
		
		{%- endspaceless -%}
    </body>
</html>
