<!DOCTYPE html>
<html lang="{{- app.request.locale -}}">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>{%- block title -%}{%- endblock -%}</title>

		{%- include 'CCDNComponentCommonBundle:Layout:common_css.html.twig' -%}
		
		{%- block stylesheets -%}
		{%- endblock -%}
    </head>
    <body{# onload="prettyPrint()"#}>

		{%- spaceless -%}
			
		<div id="page-wrap">
			<div id="page-main">
				{%- include 'CCDNComponentCommonBundle:Layout:header.html.twig' -%}
			
				<div class="container-fluid clear-top">
					{%- block tool_bar -%}
					{%- endblock tool_bar -%}
					
					<div class="row-fluid">
				        <aside class="span2 page-sidebar-left">
							<ul class="nav nav-pills nav-stacked">
								{%- include 'CCDNComponentCommonBundle:Layout:sidebar.html.twig' -%}

								{%- block sidebar -%}
					            {%- endblock sidebar -%}
							</ul>
						</aside>

				        <div class="span10 page-body-right">
							<div>
								<div id="top"></div>
					            {%- block body -%}
								{%- endblock body -%}
							</div>
				        </div>
			        </div>
				</div>
			</div>
		</div>

		{%- include 'CCDNComponentCommonBundle:Layout:footer.html.twig' -%}

		{%- include 'CCDNComponentCommonBundle:Layout:common_js.html.twig' -%}
		
		{%- block javascripts -%}	
		{%- endblock -%}
		
		{%- endspaceless -%}
    </body>
</html>
