; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]
    database_driver= "pdo_mysql"
	database_socket= "/Applications/MAMP/tmp/mysql/mysql.sock"
    database_host= "localhost"
    database_port= -
    database_name= "codeconsortium"
    database_user= "root"
    database_password= "root"

    mailer_transport= "smtp"
    mailer_host= "localhost"
    mailer_user= ""
    mailer_password= ""

    locale= "en"
    secret= "CHANGEME"

    facebook_app_id= "CHANGEME"
    facebook_app_secret= "CHANGEME"
    server_host= "forum.local"

	ewz_recaptcha_public_key= "CHANGEME"
	ewz_recaptcha_private_key= "CHANGEME"
	
    ccdncomponent_attachmentbundle_file_store= "/users/reecefowell/projects/htdocs/sandbox/attachment_store/"
