parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     forum
  database_user:     root
  database_password: password

  mailer_transport:  smtp
  mailer_host:       localhost
  mailer_user:       ~
  mailer_password:   ~

  locale:            en
  secret:            ThisTokenIsNotSoSecretChangeIt
  facebook_app_id:   12121
  facebook_app_secret: 12121
  server_host:       forum.local

