[parameters]
    database_driver= "pdo_mysql"
    database_host= "127.0.0.1"
    database_port= -
    database_name= "codeconsortium"
    database_user= "root"
    database_password= "root"

    mailer_transport= "smtp"
    mailer_host= "localhost"
    mailer_user= ""
    mailer_password= ""

    locale= "en"
    secret= "changeme"

    facebook_app_id= "changeme"
    facebook_app_secret= "changeme"
    server_host= "localhost"
	
	ewz_recaptcha_public_key= "changeme"
	ewz_recaptcha_private_key= "changeme"
	
    ccdn_attachment_file_store= "/directory/to/file/store/from/root/dir/change/me/"
