parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ccdn
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ccdn_component_attachment_file_store: ../../ccdn_component_attachment_store/
    
    ewz_recaptcha_private_key: change_me
    ewz_recaptcha_public_key: change_me