{%- spaceless -%}

	<div class="btn-group">
		{% for page in pagesInRange %}
	        {% if page != current %}
                <a class="btn" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
	        {% else %}
                <a class="btn active" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
	        {% endif %}
	    {% endfor %}
	</div>	

{%- endspaceless -%}